<h1>Directors</h1>

<table class="table table-striped" width="80">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Bio</th>
    <th>Dob</th>
    <th>Image_url</th>
    <th>Created_at</th>
    <th>Updated_at</th>

  </tr>
  <tr>
    <td><%= @director_one.id %></td>
    <td><%= @director_one.name %></td>
    <td><%= @director_one.bio %></td>
    <td><%= @director_one.dob %></td>
    <td><%= @director_one.image_url %></td>
    <td><%= @director_one.created_at %></td>
    <td><%= @director_one.updated_at %></td>
  </tr>
    </table>
